@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplaySC-Regular.ttf');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('fonts/PlusJakartaSans-Regular.ttf');
}

.root {
    -fx-font-family: 'Plus Jakarta Sans';
    -fx-background-color: #FAFAF5;
}

.navbar {
    -fx-background-color: black;
    -fx-padding: 10 0 10 0;
}

.nav-button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}

.login-container {
    -fx-background-color: transparent;
    -fx-padding: 40;
}

.welcome-box {
    -fx-background-color: black;
    -fx-alignment: center;
}

.welcome-text {
    -fx-text-fill: white;
    -fx-font-family: 'Playfair Display';
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.form-box {
    -fx-background-color: white;
    -fx-padding: 20;
}

.login-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 15 5 15;
}

.header-box {
    -fx-background-color: black;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.vbox {
    -fx-background-color: transparent;
}



